body {
  background: lightblue;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 28, 38, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition);
}

.modal {
  padding: 40px;
  background: #fff;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  transform: scale(1.1);
  visibility: hidden;
}

.close-btn {
  background: red;
  border: 1px solid #b01212;
  color: white;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: color var(--transition);
}

.close-btn:hover,
.close-btn:focus {
  background: #c61111;
}

/* Formular */
.form-group {
  position: relative;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.form-group + .form-group {
  margin-top: 10px;
}

/* Label Text */
.form-group > *:nth-child(1) {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

/* Input */
.form-group > *:nth-child(2) {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-group .input-with-icon {
  padding-left: 40px;
}

.form-checkbox {
  flex-direction: row;
  gap: 8px;
}

.form-checkbox > *:nth-child(2) {
  padding: 0;
  border: none;
}

.textarea {
  resize: none;
}

.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form .input-icon {
  left: 12px;
  top: 50%;
  position: absolute;
}

.btn-submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 80px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  outline: none;
  color: #ffffff;
  max-width: 200px;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #1a78c5;
}
